<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      					http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
     				     http://www.springframework.org/schema/tx
      				     http://www.springframework.org/schema/tx/spring-tx.xsd
      				     http://www.springframework.org/schema/aop
      					http://www.springframework.org/schema/aop/spring-aop.xsd
      					http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring   
      					http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.gxuts.wss.dms" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="root"></property>
		<property name="password" value="admin"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/drug?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.gxuts.wss.dms.entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>
	</bean>

	<!-- 事务 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<aop:config expose-proxy="true">
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.gxuts.wss.dms.service..*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*"  read-only="true" />
			<!-- <tx:method name="purcharse*" read-only="true" /> -->
			<tx:method name="save*" />
			<tx:method name="update*" />
			<tx:method name="delete*" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy />

	<!-- mail -->
	<bean id="simpMail" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="heyanyong163@163.com" />
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.163.com"></property>
		<property name="username" value="heyanyong163@163.com"></property>
		<property name="password" value="f123321"></property>
		<property name="port" value="25"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
			</props>
		</property>
	</bean>
	<!-- activiti -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="txManager" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		
		<!-- <property name="mailServerHost" value="smtp.163.com" />
        <property name="mailServerPort" value="25"/>
        <property name="mailServerDefaultFrom" value="heyanyong163@163.com" />
        <property name="mailServerUsername" value="heyanyong163@163.com" />
        <property name="mailServerPassword" value="f123321" />
        <property name="mailServerUseSSL" value="true" /> -->
	</bean>
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	<bean id="repositoryService" factory-bean="processEngine"   factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"		factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine"		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"	factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine"	factory-method="getIdentityService" />
</beans>