<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:component-scan base-package="com.gxuts.wss.dms.controller,com.gxuts.wss.dms.aop"></context:component-scan>
	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<mvc:resources location="/files/" mapping="/files/**"/>
	<mvc:resources location="/themes/" mapping="/themes/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/bin/" mapping="/bin/**" />
	<mvc:resources location="/chart/" mapping="/chart/**" />
	<mvc:resources location="/demo/" mapping="/demo/**" />
	<mvc:resources location="/xheditor/" mapping="/xheditor/**" />
	<mvc:resources location="/dwz.frag.xml" mapping="/dwz.frag.xml" />
	<mvc:resources location="/" mapping="/**" />

	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="urlMap">
			<map>
				<entry key="/**" value="myResourceHandler" />
			</map>
		</property>
		<property name="order" value="100000" />
	</bean>
	<bean id="myResourceHandler" name="myResourceHandler"
		class="org.springframework.web.servlet.resource.ResourceHttpRequestHandler">
		<property name="locations" value="/" />
		<property name="supportedMethods">
			<list>
				<value>GET</value>
				<value>HEAD</value>
				<value>POST</value>
			</list>
		</property>
	</bean>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.gxuts.wss.dms.aop.SecurityInterceptor">
				<!-- 不需要拦截的地址，也可以写正则 -->
				<property name="excludeRegExp">
					<list>
						<value><![CDATA[/login]]></value>
						<value><![CDATA[/logout]]></value>
						<value><![CDATA[.*\\..*]]></value>
					</list>
					</property>
				<!-- 需要权限验证的地址，正则表达式 -->
				<property name="includeRegExp">
					<list>
						<!-- 拦截所有Controller的所有方法 -->
						<value><![CDATA[/.*/.*]]></value>
						<!-- 你也可以单独拦截xxxController的xxx方法 -->
						<value><![CDATA[/xxxController/xxxFun]]></value>
					</list>
				</property>
				
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="multipartResolver" 
         class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="maxUploadSize" value="10485760"/>    
     </bean>
</beans>

